.main-one {
    background-color: rgb(225, 227, 227);
    &__content-block {
        display: flex;
        flex-direction: column;
        font-family: serif;
    }

    &__title-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 200px;
        background: linear-gradient(rgba(0, 0, 0, 0.30), rgba(0, 0, 0, 0.40)),
                    url("../img/main-one_img/bg_Video_min.webp")45% 33% no-repeat;
        .title {
            font-size: clamp(25px, 7vw, 40px);
            font-weight: 700;
            line-height: 24px;
            color: #ff9700;
            font-style: italic;
            letter-spacing: 5px;
            text-shadow: 2px 4px 2px #000;
            margin: 50px 15px 20px 15px;
        }
        .sub-title {
            max-width: 50%;
            font-size: clamp(18px, 7vw, 20px);
            color: #fff;
            font-weight: 600;
            line-height: 35px;
            text-align: center;
            margin-bottom: 70px;
        }
    }

    &__differences-block {
        display: flex;
        justify-content: center;
        max-width: 90%;
        flex-wrap: wrap;
        padding-bottom: 50px;
        .img-block {
            flex: 1 1 300px;
            max-height: 400px;
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            padding: clamp(40px, 7vw, 60px) 20px 50px clamp(20px, 7vw, 70px);
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 20%;
                box-shadow: 1px 1px 10px black;
            }
        }
        .text-block {
            flex: 1 1 600px;
            margin: 20px 40px 20px 20px;
            &__containt {
                h3 {
                    font-size: clamp(20px, 7vw, 30px);
                    margin: 30px 0px 20px;
                }
                p {
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 25px;
                    color: rgb(87, 86, 86);
                }
            }
        }
    }
}

@media (max-width: 900px) {
    .main-one__title-block .sub-title {
        max-width: 70%;
    }
    .main-one__differences-block {
        max-width: 100%;
    }
}

@media (max-width: 500px) {
    .main-one__title-block .sub-title {
        max-width: 90%;
    }
}