// Когда < 900px
.sticky-style {
    position: sticky;
    top: 0;
    z-index: 10;
}

.header {
    display: flex;
    background-color: #a7aeb0;
    .icon-block {
        flex: 1;
        // overflow: hidden;
        padding: 5px 0 5px clamp(20px, 7vw, 100px);
        // transform: translateX(0);
        .icon {
            display: flex;
            img {
                flex: 0 0;
                width: clamp(20px, 3em, 100px);
                filter: drop-shadow(10px 10px 3px #000000);
            }
            .line-vertically {
                width: 4px;
                background: #5f5d5d;
                border-radius: 20px;
                margin: 0 20px;
            }
            .logo {
                flex: 0 1 50px;
                display: flex;
                align-items: center;
                font-style: italic;
                font-size: 20px;
                font-weight: 500;
                text-transform: uppercase;
                color: #161615;
            }
        }
    }
    // .element-animation{
    //     transform: translateX(0);
    // }
    // .icon-block .element-show {
    //     transition: 3s;
    //     transform: translateX(100%);
    // }
    .menu-btn {
        display: none;
    }
    .menu-block {
        flex: 1;
        .menu {
            display: flex;
            align-items: center;
            height: 100%;
            .item {
                list-style-type: none;
                font-size: 30px;
                font-weight: 600;
                font-style: italic;
                padding: 0 23px;
                overflow: hidden;
                a {
                    color: #eef5f0;
                    transform: scale(2);
                    text-shadow: 3px 0px 2px #000;
                    transition-duration: .3s;
                }
                .line-block{
                    display: flex;
                    .line-left, 
                    .line-rigte {
                        flex: 1;
                        min-height: 2px;
                        margin-top: 2px;
                        transition: .3s;
                    }
                    .line-left {
                        background-color: red;
                        transform: translateX(300%);
                    }
                    .line-rigte {
                        background-color: rgb(68, 255, 0);
                        transform: translateX(-300%);
                    }
                }
            }
            .item:hover {
                transform: scale(1.2);
                a {
                    color: rgb(241, 6, 6);
                }
                .line-left, 
                .line-rigte {
                    transform: translateX(0);
                }
            }
        }
    }
}