// Когда < 900px
.header {
    display: flex;
    flex-direction: column;
    background: url("../img/header_img/bg_header.webp")40% 0/cover no-repeat;
    &__one-block {
        display: flex;
        background-color: rgba(115, 118, 119, 0.7);
        .icon-block {
            flex: 1;
            padding: 20px 0 0 clamp(20px, 10vw, 200px);
            .icon img {
                width: clamp(50px, 8em, 120px);
                filter: drop-shadow(20px 15px 4px #000000);
            }
        }
        .menu-btn {
            display: none;
        }
        .menu-block {
            flex: 1;
            padding-top: 20px;
            .menu {
                display: flex;
                .item {
                    list-style-type: none;
                    font-size: 30px;
                    font-weight: 600;
                    font-style: italic;
                    padding: 0 23px;
                    overflow: hidden;
                    a {
                        color: #eef5f0;
                        transform: scale(2);
                        text-shadow: 3px 0px 2px #000;
                        transition-duration: .3s;
                    }
                    .line-block{
                        display: flex;
                        .line-left, 
                        .line-rigte {
                            flex: 1;
                            min-height: 2px;
                            margin-top: 2px;
                            transition: .3s;
                        }
                        .line-left {
                            background-color: red;
                            transform: translateX(300%);
                        }
                        .line-rigte {
                            background-color: rgb(68, 255, 0);
                            transform: translateX(-300%);
                        }
                    }
                }
                .item:hover {
                    transform: scale(1.2);
                    a {
                        color: rgb(241, 6, 6);
                    }
                    .line-left, 
                    .line-rigte {
                        transform: translateX(0);
                    }
                }
            }
        }
    }
    &__two-block{
        background-color: rgba(115, 118, 119, 0.7);
        .title-block{
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            padding: 20px 20px 20px 50px;
            .title{
                font-size: 50px;
                font-weight: 700;
                font-style: italic;
                color: #ff9700;
                text-shadow: 2px 4px 2px #000;
            }
            .subtitle{
                max-width: 300px;
                font-size: 20px;
                font-weight: 500;
                color: white;
                letter-spacing: 1px;
                line-height: 30px;
                text-shadow: 1px 1px 1px #000;
                padding-top: 20px;
            }
        }
    }
}