// Когда < 1200px
.header {
    display: flex;
    flex-wrap: wrap;
    background-color: #878981;
    .icon-block {
        flex: 1;
        padding: 5px 0 5px clamp(20px, 3vw, 100px);
        .icon {
            display: flex;
            img {
                flex: 0 0 85px;
                width: clamp(20px, 3em, 100px);
                filter: drop-shadow(10px 10px 3px #000000);
            }
            .line-vertically {
                width: 4px;
                background: #5f5d5d;
                border-radius: 20px;
                margin: 0 20px;
            }
            .logo {
                flex: 0 1 50px;
                display: flex;
                align-items: center;
                font-style: italic;
                font-size: 40px;
                font-weight: 500;
                text-transform: uppercase;
                color: #161615;
            }
        }
    }
    .menu-btn {
        display: none;
    }
    .menu-block {
        flex: 1;
        .menu {
            display: flex;
            align-items: center;
            height: 100%;
            .item {
                list-style-type: none;
                font-size: 25px;
                font-weight: 600;
                font-style: italic;
                padding: 0 23px;
                overflow: hidden;
                a {
                    color: #161615;
                    transform: scale(2);
                    transition-duration: .3s;
                }
                .line-block{
                    display: flex;
                    .line-left, 
                    .line-rigte {
                        flex: 1;
                        min-height: 2px;
                        margin-top: 2px;
                        transition: .3s;
                    }
                    .line-left {
                        background-color: red;
                        transform: translateX(300%);
                    }
                    .line-rigte {
                        background-color: rgb(68, 255, 0);
                        transform: translateX(-300%);
                    }
                }
            }
            .item:hover {
                transform: scale(1.2);
                a {
                    color: #fff;
                }
                .line-left, 
                .line-rigte {
                    transform: translateX(0);
                }
            }
        }
    }
}