.main-three {
    background: url('../img/main-three_img/transport-trucks_min.webp')0 50%/cover no-repeat;
    padding: clamp(40px, 7vh, 60px) 0px;
}
.input-block {
    padding: 10px;
    margin: 10px 30px;
}
.form {
    max-width: 600px;
    margin: 0 auto;
    background-color: rgb(238 244 244);
    border: 1px solid black;
    padding: 10px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0px;
}
.col-25 {
    flex: 0 1 100px;
    display: flex;
    align-items: center;
}
.col-25 label {
    font-size: 18px;
    font-weight: 500;
}
.col-75 {
    flex: 1 1 200px;
}
.col-75 input {
    font-size: 16px;
    font-weight: 500;
    height: 30px;
    min-width: 100%;
    border-radius: 5px;
    padding: 3px 5px;
    box-sizing: border-box;
    border: 1px solid rgb(110, 108, 108);
    background-color: rgb(237, 237, 243);
}
.col-75  textarea {
    font-size: 16px;
    font-weight: 500;
    min-height: 100px;
    width: 100%;
    border-radius: 5px;
    padding: 3px 5px;
    box-sizing: border-box;
    border: 1px solid rgb(110, 108, 108);
}
.comment-block {
    align-items: flex-start;
}

.row-button {
    display: flex;
    justify-content: center;
}
.row-button input {
    background-color: cadetblue;
    border-radius: 10px;
    padding: 15px 20px;
}