.min-footer {
    &__content-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100px;
        font-family: serif;
        background-color: rgb(195, 198, 198);
        .name-company {
            font-size: 20px;
            font-weight: 600;
        }
        .license {
            font-size: 20px;
            font-weight: 400;
        }
        .name-company,
        .license {
            padding: 20px;
        }
    }

}
