@import '_nullstyle',
        '_burger_menu',
        '_popup_menu',
        '_header',
        '_main-one',
        '_all_content_style',
        '_main-two',
        '_contact',
        '_main-three',
        '_min-footer',
        '_footer';

body {
    font-family: Raleway;
    background-color: white;
}

.section {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}

.wrapper-container {
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
}

.services{
    max-width: 800px;
}